<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container" style="line-height:1.5; font-size: 1.2em;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">The Past Paved the Way for Today, and Forward the Future.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <!-- Educations -->
                    <h3>Education</h3>
                    <div class="row row-my">
                        <div class="col-lg-3">
                            Sep. 2013 - June 2015
                        </div>
                        <div class="col-lg-9">
                            <span class="resume-title"><em>Master of Sicence</em> in Bio-Industrial Mechatronics Engineering (BIME)</span></br>
                            National Taiwan University (NTU), Taiwan
                            <div class="row">
                                <div class="col-lg-2" style="font-weight: bold; transform: translateY(50%);">
                                    Dissertation
                                </div>
                                <div class="col-lg-10" style="text-align:justify;">
                                    <!-- Warning: check the modal-id -->
                                    <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                                        Sensor Fusion of Stereo Vision and Radar Systems for Vehicle Safety Application (Advisor: Dr. Ta-Te Lin)
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-my">
                        <div class="col-lg-3">
                            Sep. 2009 - June 2013
                        </div>
                        <div class="col-lg-9">
                            <span class="resume-title"><em>Bachelor of Sicence</em> in Bio-Industrial Mechatronics Engineering</span></br>
                            National Taiwan University, Taiwan
                            <div class="row">
                                <div class="col-lg-2" style="font-weight: bold; transform: translateY(50%);">
                                    Topic
                                </div>
                                <div class="col-lg-10" style="text-align:justify;">
                                    <!-- Warning: check the modal-id -->
                                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                                        Quantitative Evaluation of the Floral Shape Variation in ​ Sinningia Speciosa ​ Domestication (Advisor: Dr. Yan-Fu Kuo)
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-my">
                        <div class="col-lg-3">
                            Sep. 2006 - June 2009
                        </div>
                        <div class="col-lg-9">
                            Affiliated Senior High School of National Kaohsiung Normal University (NKNUASHS), Taiwan
                        </div>
                    </div>
                    <!-- Publications -->
                    <h3>Publications</h3>
                    <div class="row row-my">
                        <div class="col-lg-1">
                            [1]
                        </div>
                        <div class="col-lg-11" style="text-align:justify;">
                            Hao-Chun Hsu, Chia-Ying Chen, Tzu-Kuei Lee, <strong>Li-Kang Weng</strong>, Der-Ming Yeh, Ta-Te Lin, Chun-Neng Wang and Yan-Fu Kuo. 2015. Quantitative analysis of floral symmetry and tube dilation in an F2 cross of Sinningia speciosa. Scientia Horticulturae, 188, 71-77.
                            <a target="_blank" href="https://drive.google.com/open?id=1xBXzQadJeYecAL5617aqnxMVIl9cA2DZ">[pdf]</a>
                        </div>
                    </div>
                    <div class="row row-my">
                        <div class="col-lg-1">
                            [2]
                        </div>
                        <div class="col-lg-11" style="text-align:justify;">
                            Ta-Te Lin, <strong>Li-Kang Weng</strong> and An-Chih Tsai. 2014. Object Tracking and Collision Avoidance Using Particle Filter and Vector Field Histogram Methods. Paper presented at American Society of Agricultural and Biological Engineers (ASABE) Paper No. 1906189, Montreal, Quebec City, Canada.
                            <a target="_blank" href="https://drive.google.com/open?id=1ncBiAVAuG8DFhs7kA5viYdItiOadN3bQ">[pdf]</a>
                        </div>
                    </div>
                    <div class="row row-my">
                        <div class="col-lg-1">
                            [3]
                        </div>
                        <div class="col-lg-11" style="text-align:justify;">
                            Yan-Fu Kuo, <strong>Li-Kang Weng</strong>, Tzu-Kuei Lee, Hao-Chun Hsu, Ta-Te Lin and Chun-Neng Wang. 2013. Quantitative Evaluation of the Floral Shape Variation in Sinningia Speciosa Domestication. Paper presented at ASABE Paper No. 131595052. 
                            <a target="_blank" href="https://drive.google.com/open?id=1FlGfpVXvZQC1jWplWsaU-2khRPIj8V8e">[pdf]</a>
                        </div>
                    </div>
                    <!-- Honors & Awards -->
                    <h3>Honors and Awards</h3>
                    <div class="row row-my">
                        <div class="col-lg-1">
                            2014
                        </div>
                        <div class="col-lg-11" style="text-align:justify;">
                            <!-- Warning: check the modal-id -->
                            <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                                <strong>2nd Prize</strong> of the 9th Utechzone Machine Vision Prize</br>
                            </a>
                            <!-- Warning: check the modal-id -->
                            <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
                                <strong>The Excellence Award</strong> of the 2014 MediaTek MobileHeroes Competition
                            </a>
                        </div>
                    </div>
                    <!-- Work Experience -->
                    <h3>Work Experience</h3>
                    <div class="row row-my">
                        <div class="col-lg-3">
                            Jan. 2017 - July 2018
                        </div>
                        <div class="col-lg-9" style="text-align:justify;">
                            <span class="resume-title"><em>Software Engineer</em>, HTC Corporation</span></br>
                            New Taipei City, Taiwan
                            <ul>
                                <li>Developed real-time visual-inertial SLAM algorithm using C++ on ARM platform</li>
                                <li>Designed GUI and tools for real-time data visualization and KPI measurement to eliminate tedious labor and quantitate tracking performance</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row row-my">
                        <div class="col-lg-3">
                            July - Sep. 2013
                        </div>
                        <div class="col-lg-9" style="text-align:justify;">
                            <span class="resume-title"><em>Software Engineer Intern</em>, ​ LeaderG Incorporation</span></br>
                            Taipei, Taiwan
                            <ul>
                                <li>Participated in the maintenance of Kwang Hwa Information and Culture Center website</li>
                                <li>Implemented functions and upgraded UI of voice recognition application named Marsball using Java on Android</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Extracurricular Activities -->
                    <h3>Extracurricular Activities</h3>
                    <div class="row row-my">
                        <div class="col-lg-3">
                            April - Sep. 2015
                        </div>
                        <div class="col-lg-9" style="text-align:justify;">
                            <strong><em>Member</em>, NTU Utopia Non-Profit Club</strong><br>
                            Aimed at old computer deallocation. There're so many children don't have a chance to connect the 
                            world through the Internet. We fixed and sorted out usable computers, laptops donated from everywhere and 
                            held workshops to advocate our idea and attract volunteers to join with us. These devices were sent to 
                            orphanage and remote schools.
                        </div>
                    </div>
                    <div class="row row-my">
                        <div class="col-lg-3">
                            July 2011 - June 2012
                        </div>
                        <div class="col-lg-9" style="text-align:justify;">
                            <strong><em>Co-Director of Activities Department</em>, NTU BIME Student Association</strong><br>
                            Held the most important annual activities of every department at National Taiwan University. I was in charge of 
                            process planning and activity rehearsal to check everything is in the right place at the right time. 
                        </div>
                    </div>
                    <div class="row row-my">
                        <div class="col-lg-3">
                            May - Sep. 2011
                        </div>
                        <div class="col-lg-9" style="text-align:justify;">
                            <strong><em>Director of Activities Department</em>, NTU BIME Freshman Welcome Camp</strong><br>
                            Held the 7-day Freshman Welcome Camp co-organized with students in Department of Chinese Literature, NTU. 
                            I was in charge of process and activity planning.
                        </div>
                    </div>
                    <div class="row row-my">
                        <div class="col-lg-3">
                            Nov. 2010 - March 2011
                        </div>
                        <div class="col-lg-9" style="text-align:justify;">
                            <strong><em>Vice Coordinator</em>, NTU BIME Night Event</strong><br>
                            Held the most important annual activity for every department at NTU. It's a night event presenting various 
                            shows presented by students in all grades from the same department, such as drama, band, and dance show.
                        </div>
                    </div>
                    <div class="row row-my">
                        <div class="col-lg-3">
                            Aug. - Oct. 2010
                        </div>
                        <div class="col-lg-9" style="text-align:justify;">
                            <strong><em>Coordinator</em>, NTU Pop Dance Club Welcome BBQ Party</strong><br>
                            Held the Welcome Party consisting of site selection, activity planning, and commodity procurement.
                        </div>
                    </div>
                    <div class="row row-my">
                        <div class="col-lg-3">
                            Nov. 2009 - Jan. 2010
                        </div>
                        <div class="col-lg-9" style="text-align:justify;">
                            <strong><em>Member</em>, NTU Kaohsiung Area Alumni Association</strong><br>
                            NTU students came from Kaohsiung city grouped up a team went to Kaohsiung Sing Gang Elementary School 
                            to hold a campaign for children. This campaign consisted of science knowledge that brought joy and happiness 
                            to children, and fulfilled our spirit as well. 
                        </div>
                    </div>
                    <div class="row row-my">
                        <div class="col-lg-3">
                            Oct. 2006 - Aug. 2008
                        </div>
                        <div class="col-lg-9" style="text-align:justify;">
                            <strong><em>Captain</em>, School Patrol of NKNUASHS</strong><br>
                            Led the traffic control team composed of students from the school. Our duty is to secure children's safety 
                            at the school gate during going to and getting off school every school day. 
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>